body { 
  font: 16px Helvetica, Sans-Serif;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
  background-color: #d4a083;
  width: 90%
}

h1 {
  font-size: 64px;
  color: 
}

h2 {
  font-size: 26px;
}
  
h3{
  font-size: 18px;
}

li{
  list-style-type: square;
}
